<ul>
  <% @files_in_data.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit"> Edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post"><button type="submit">Delete</button></form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<% if session[:signed_in] %>
  <p><em>Signed in as <%= session[:username] %>.</em></p><form action="/users/signout" method="post"><button type="submit">Sign Out</button></form>
<% else %>
  <p><em>You have been signed out.</em></p><form action="/users/signin" method="get"><button type="submit">Sign In</button></form>
<% end %>
